@model IEnumerable<ilmSalohiyat.Models.News>

@{
    ViewData["Title"] = "Index";
}

<h3 class="text-center text-uppercase">Учителя</h3>

<p>
    <a asp-action="Create" class="btn btn-primary rounded-0"><i class="fa fa-plus-circle"></i>Новый курс</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                Название новости
            </th>
            <th>
                Краткое содержание
            </th>
            <th>
                Полный текст
            </th>
            <th>
                Дата
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostTime)
            </td>
            <td>
                <a asp-area="manager" asp-controller="News" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-info rounded-0"><i class="fa fa-pencil-alt">Изменить</i></a>
                <a asp-area="manager" asp-controller="News" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger rounded-0"><i class="fa fa-trash-alt">Удалить</i></a>
            </td>
        </tr>
}
    </tbody>
</table>
